
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-fa:roboto;
    --font-size:14px;
    --line-h:26px;
    --col:rgb(250,250,250);
    --font-w:700;
    /* Button */
    --col-2:rgb(0,0,0);
    --line-h2:18px;
    --font-size2:16px;
    --font-fam:DIN_Regular, Arial, Verdana, sans-serif;
    --font-w2:400;
    --line-h3:20px;
    --pad:20px 120px;
    --font-sty:normal;
}
body{
    /* background-image: url(../project-images/blacker.jpg); */
    background-color: black;
}
header{
    background-image: url(../project-images/first-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.header-items{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    /* padding: var(--pad); */
    padding: 3rem 4rem;
}
.items-1{
    display: flex;
    gap: 5rem;
}
.items-2{
    display: flex;
    /* gap: 2rem; */
    font-family: var(--font-fa);
    font-style: var(--font-sty);
    line-height: var(--line-h);
    font-size: 10px;
    font-weight: var(--font-w);
    color: rgb(250,250,250);
    text-decoration: none;
}
.call{
    color: var(--col);
}
.back{
    color: var(--col);
    text-decoration: none;
}
.pen{
    color: var(--col);
    text-decoration: none;
}
.pin{
    color: var(--col);
    text-decoration: none;
}
.pan{
    color: var(--col);
    text-decoration: none;
}
.item-mid{
    display: flex;
    gap: 2rem;
    font-family: var(--font-fa);
    font-style: var(--font-sty);
    line-height: var(--line-h);
    font-size: 10px;
    font-weight: var(--font-w);
    color: white;
    text-decoration: none;
}
.fa-bars{
    color: white;
}
button img{
   background-color: white;
   width: 20px;
   height: 20px;
   border-radius: 50%;
}
.star{
    font-family: var(--font-fa);
    font-style: var(--font-sty);
    line-height: var(--line-h);
    font-size: 25px;
    font-weight: var(--font-w);
    color: var(--col);
    text-decoration: none;
}
.high{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-fam);
    font-size: 30px;
    font-weight: var(--font-w);
    line-height: 88px;
}
.connect{
    font-family: var(--font-fam);
    font-size: 25px;
    font-weight: var(--font-w2);
    line-height: 30px;
}
.high button{
    width: 130px;
    height: 40px;
    border: none;
    font-size: 12px;
    font-weight: var(--font-w);
    line-height: 20px;
    color: var(--col);
    background-color: transparent;
}
.fa-circle-play{
    color: white;
}
label{
    font-family: var(--font-fam);
    font-size: 14px;
    font-weight: var(--font-w);
    line-height: 15px;
    
}
.input {
    width: fit-content;
    margin: auto;
}
input{
    width: 400px;
    height: 50px;
    padding: 1.5rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.mosque{
    font-family: var(--font-fam);
    font-weight: var(--font-w);
    font-size: 11px;
    line-height: 46px;
}
.chat{
    text-decoration: none;
    color: var(--col);
    margin-left: 4rem;
    width: 700px;
    height: 150px;
    font-size: 12px;
}
.chat:hover{
    border:none;
    background: #c7c8ca;
}
.exam{
    width: 200px !important;
    height: 50px !important;
    background-color: #ffffff !important;
    color: black !important;
    border-radius: 5px !important;
}
@media screen and (max-width:1024px) 
{
    .header-items{
        display: flex;
        justify-content: space-between;
        padding: .7rem;
    }
    .header-items .items-1{

    }
    .header-items .items-1 a{
        margin: 0;
    }
    .star, .fa-bars{
        display: block;
    }
    .star{
        font-size: small;
    }
    .high{
        font-size: small;
        line-height: 35px;
    }
    .item-mid{
        display: none;
    }
    .items-2{
        display: none;
    }
    .fa-bars a{
        display: block;
    }
    h1{
       line-height: 35px; 
    }
    .connect{
        font-size: 14px;
        line-height: 40px;
    }
    .high{

    }
    .high h1{
        font-size: 15px;
    }
    .input{
        text-align: center;
    }
    .ebun{
        width: auto;
        margin-bottom: .5rem;
    }
    .exam{
        width: auto;
        margin-bottom: .2rem;
    }
    .mosque{
        padding: 0;
    }
    .mosque .chat{
        text-align: center;
        margin: 0;
    }
    .spanner{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .spanner .Address{
        height: 200px;
        width: auto;
    }
    .spanner .location{
        height: 200px;
        width: auto;
    }
    .spanner .centre{
        height: 200px;
        width: auto;
    }
    .Address h3{
        font-size: 20px;
    }
    .spanner h3{
        font-size: 20px;
    }
    .location h3{
        font-size: 20px;
    }
    .result{

    }
    .result .sucess{
        font-size: 26px;
        line-height: 26px;
        text-align: center;
    }
    .result .bukky{
        font-size: 10px;
        line-height: 15px;
        text-align: center;
    }
    .cable{
        width: 300px;
        height: 100px;
        margin: .5rem;
    }
    .cable .hhh{
        padding: .5rem;
        line-height: 18px;
        font-size: 15px;
    }
    .cable .hhh br{
        display: none;
    }
    .cable .name{
        padding: 0;
        font-size: 14px;
        text-align: center;
    }
    .cable .name br{
        display: none;
    }
    .butterfly{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: .7rem .7rem 0;
        margin-bottom: 0; 
    }
    .butterfly .must{
        padding: 1rem;
        width: auto;
    }
    .must .route{
        width: 100%;
    }
    .butterfly .idia{
        width: auto;
        padding: .7rem;
    }
    .idia .oga{
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }
    .idia .chrome{
        font-size: 14px;
        /* text-align: center; */
        line-height: 21px;
        margin: 0;
    }
    .idia .goodnews{
        font-size: 16px;
        line-height: 27px;
    }
    .idia .chromes{
        font-size: 14px;
        /* text-align: center; */
        line-height: 21px;
        margin: 0;
    }
    .tone{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 0;
        margin: 0;
    }
    .tone .him{
        font-size: 10px;
        font-weight: 700;
        margin: 0 !important;
        padding: 0;
        line-height: 12px;
    }
    .appstore{
        padding: 0 !important;
        margin: 0 !important;
    }
    .bottle{
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        padding: 0 !important;
    }
    .bottle .me{
        width: auto;
        padding: .5rem;
    }
    .me .container{
        font-size: 20px;
        padding: 0;
    }
    .me .shoprite br{
        display: none;
    }
    .bottle .dan{
        width: auto;
        padding: .5rem;
    }
    .dan img{
        width: 100%;
    }
    .danger{
        width: auto;
        height: 200px;
        margin: .5rem;
    }
    .danger .cookies{

    }
    .cookies .amebo{
        font-size: 25px;
        line-height: 25px;
        margin: 0;
    }
    .cookies .maggi br{
        display: none;
    }
    .burger{
        margin: 0 auto!important;
        padding: 0 !important;

    }
    .burger .cola{
        margin: 0 !important;
        text-align: start;
    }
    .burger .fanta{
        text-align: start;
        font-size: 12px;
    }
    .burger .input{
        padding: .7rem;
        text-align: start;
        display: block !important;
        flex-direction: column;
    }

    .input{
        width: 100%;
    }

    .input .connnn{
        display: flex;
        flex-direction: column;

    }


    .connnn .ebun, .connnn .exam{
        display: block;
        width: 100% !important;
        /* width: 250px !important; */
        /* width: clamp(200px, 40%, 400px); */
    }
    .connnn .exam{
        width: clamp(250px, 60%, 400px);
    }
    .mosqu{
        padding: 0 !important;
    }
    .mosqu .chat{
        margin: 0;
    }
    footer{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap-reverse;
        background-color: black;
        margin-top: 8rem;
        width: 100%;
        justify-content: center;
    }
    .scarf{
        display: flex;
        gap: .2rem;
        border: 1px solid white;
        flex-direction: column;
    }
    .a-con{
        text-align: center;
        display: flex;
        padding: 0;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
    }
    .jersey{
        display: flex;
        border: 1px solid white;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .orange{
        text-align: center;
        margin-top: 14rem;
    }
    .orange h2{
        font-family: var(--font-fam);
        font-size: 41px;
        font-weight: var(--font-w);
        line-height: 62px;
        color: var(--col);
    }
    .jersey .protect{
        text-align: center;
    }
    .jersey .option{
        text-align: center;
    }
}
.Address{
    background-image: url(../project-images/lamp-on-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
    margin-top: 2rem;
    padding-bottom: 25rem;
}
.location{
    background-image: url(../project-images/lamp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
    margin-top: 2rem;
    padding-bottom: 25rem;
}
.centre{
    background-image: url(../project-images/ship\ on\ water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
    margin-top: 2rem;
    padding-bottom: 25rem;
}
.google{
    font-family: var(--font-fa);
    font-size: 18px;
    line-height: 30px;
}
.google:hover{
    font-family: var(--font-fam);
    font-size: 25px;
    line-height: 30px;
}
.spanner{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
.spanner a{
    text-decoration: none;
}
.Address:hover{
    background-image: url(../project-images/lamp-on-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1.05;
}
.location:hover{
    background-image: url(../project-images/lamp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1.05;
}
.centre:hover{
    background-image: url(../project-images/ship\ on\ water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1.05;
}
h3{
    font-family: var(--font-fam);
    font-size: 40px;
    line-height: 10px;
    padding-left: 1.8rem;
    padding-top: 2rem;
    color: var(--col);
}
p, a{
    color: var(--col);
    font-size: 18px;
    padding-left: 1.8rem;
    line-height: 5%0px;
}
.result{
    color: var(--col);
    text-align: center;
}
.sucess{
    font-family: var(--font-fam);
    font-size: 41px;
    font-weight: var(--font-w);
    line-height: 62px;
}
.bukky{
    font-family: var(--font-fam);
    font-size: 14px;
    line-height: 20px;
}
.middle{
    font-family: var(--font-fam);
    font-size: 11px;
    font-weight: var(--font-w);
    line-height: 36px;
    text-decoration: none;
}
.cable{
    background-image: url(../project-images/man\ with\ lamp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--col);
    padding: 6rem 2rem;
    padding-bottom: 27rem;
    margin-top: 12rem;
}
.cable h4{
    font-family: var(--font-fam);
    font-size: 36px;
    line-height: 49px;
    font-weight: var(--font-w);
    margin-left: 1.8rem;
}
.name p{
    font-family: var(--font-fam);
    font-size: 14px;
    line-height: 30px;
    font-weight: var(--font-w2);
}
.butterfly{
   margin-top: 2rem;
   display: flex;
   justify-content: space-around;
}
.oga{
    color: var(--col);
    font-size: 30px;
    line-height: 69px;
    font-family: var(--font-fam);
    font-weight: var(--font-w);
    margin-left: 1.8rem;
}
.chrome{
    color: var(--col);
    font-size: 14px;
    line-height: 70px;
    font-family: var(--font-fam);
    font-weight: var(--font-w2);
}
.chromes{
    color: var(--col);
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-fam);
    font-weight: var(--font-w2);
}
.goodnews{
    color: var(--col);
    font-size: 25px;
    line-height: 44px;
    font-family: var(--font-fam);
    font-weight: var(--font-w);
    margin-left: 1.8rem;
}
.him{
    color: var(--col);
    font-family: var(--font-fam);
    font-size: 10px;
    line-height: 36px;
    font-weight: var(--font-w);
}
.tone{
    display: flex;
}
.bottle{
    margin-top: 18rem;
    display: flex;
    justify-content: space-between;
    margin: 15rem 2rem;
}
.container{
    color: var(--col);
    font-family: var(--font-fam);
    font-size: 40px;
    font-weight: var(--font-w);
    line-height: 69px;
    margin-left: 1.8rem;

}
.shoprite{
    font-family: var(--font-fam);
    font-size: 14px;
    font-weight: var(--font-w2);
    line-height: 20px;
}
.me{
    margin-top: 10rem;
}
.danger{
    background-image: url(../project-images/fire-way.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30rem;
}
.amebo h3{
    font-family: var(--font-fam);
    font-size: 40px;
    line-height: 49px;
    font-weight: var(--font-w);
    color: var(--col);
}
.maggi{
    font-family: var(--font-fam);
    font-size: 16px;
    line-height: 20px;
    font-weight: var(--font-w2);
    margin-top: 2rem;
}
.salt{
    width: 120px;
    height: 40px;
    border: 1px solid;
    margin-top: 2rem;
    margin-left: 1.8rem;
    font-family: var(--font-fam);
    font-size: 11px;
    font-weight: var(--font-w);
    line-height: 34px;
    background-color: transparent;
    color: var(--col);
}
.cookies{
    padding-top: 7.5rem;
}
.burger{
    margin-top: 6rem;
    margin: auto;
    width: 90vw;
    max-width: 700px;
}
.cola{
    font-family: var(--font-fam);
    font-size: 41px;
    line-height: 62px;
    font-weight: var(--font-w);
    text-align: center;
}
.fanta{
    font-family: var(--font-fam);
    font-size: 20px;
    font-weight: var(--font-w2);
    line-height: 30px;
    text-align: center;
}
.scarf a{
    font-family: var(--font-fa);
    font-size: 12px;
    font-weight: var(--font-w);
    text-decoration: none;
    line-height: 20px;
}
.began{
    font-family: var(--font-fa);
    font-size: 12px;
    font-weight: var(--font-w2);
    line-height: 20px;
}
.protect{
    font-family: var(--font-fa);
    font-size: 12px;
    font-weight: var(--font-w2);
    line-height: 20px;
}
.jersey a{
    font-family: var(--font-fam);
    font-size: 12px;
    text-decoration: none;
}
.tick{
    font-family: var(--font-fa);
    font-size: 12px;
    font-weight: var(--font-w2);
    line-height: 20px;
    color: var(--col);
}
footer{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    background-color: black;
    margin-top: 8rem;
}
.scarf{
    display: flex;
    gap: .2rem;
    flex-direction: column;
}
.a-con{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.jersey{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.orange{
    text-align: center;
    margin-top: 14rem;
}
.orange h2{
    font-family: var(--font-fam);
    font-size: 41px;
    font-weight: var(--font-w);
    line-height: 62px;
    color: var(--col);
}